:root {
  /* fonts */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  /* colors */
  --accent-color: #2196f3;
  --main_white-color: #ffffff;
  --main-black-color: #212121;
  --description-color: #757575;
  --bg-dark-gray-color: #2f303a;
  --bg-light-gray-color: #f5f4fa;
  --btn-hover-color: #188ce8;
  --border-color: #ececec;
  --bg-icon: #f5f4fa;
  --icons-color: #afb1b8;

  /* others */
  --anim-fast: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* BG Colors */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-dark-gray-color);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/section-hero/hero-background.jpg);
  /* background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

.team {
  background-color: var(--bg-light-gray-color);
}

/* GENERAL */

body {
  font-family: var(--main-font);
  color: var(--main-black-color);
}

.no-scroll {
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* COUNTAINERS */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
}

.peculiarities {
  padding-bottom: 0;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
  /* display: flex; */
}

.header-container {
  display: flex;
  align-items: center;
}

.hero-container {
  text-align: center;
}

.pagination-container {
  display: flex;
  align-items: center;
}

.team-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.doing-container {
  flex-direction: column;
}

.portfolio-countainer {
  flex-direction: column;
}

/* LISTS & ITEMS */

.peculiarities-list {
  display: flex;
  gap: 30px;
}

.doing-list,
.team-list {
  display: flex;
  gap: 30px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

/* LOGOS */
.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;
}

.logo-footer {
  margin-bottom: 20px;
}

.logo-color-a {
  color: var(--accent-color);
}

.logo-color-b {
  color: #000;
}

.logo-color-с {
  color: #fff;
}

/* HEADER */
.header {
  border-bottom: 1px solid var(--border-color);
}

/* Pagination */
.nav-list {
  list-style-type: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  margin-right: auto;

  display: flex;
  gap: 50px;
}

.nav-link {
  color: var(--main-black-color);
  display: block;
  padding-top: 32px;

  transition: color var(--anim-fast);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.header-mail {
  margin-right: 50px;
}

/* Contact */
.header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
  margin-left: auto;
}

.header-button {
  color: var(--description-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;

  transition: color var(--anim-fast);
}

.header-button:hover,
.header-button:focus {
  color: var(--accent-color);
}

.nav-link-current {
  color: var(--accent-color);
}

.nav-link-current::after {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  margin-top: 28px;

  background-color: var(--accent-color);
}

.address-text-bold {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main_white-color);

  transition: color var(--anim-fast);
}

.address-text-bold:hover,
.address-text-bold:focus {
  color: var(--accent-color);
}

.address-text-thin {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color var(--anim-fast);
}

.address-text-thin:hover,
.address-text-thin:focus {
  color: var(--accent-color);
}

/* TEAM */
.team-item-block {
  text-align: center;
  padding: 30px 5px;
  background-color: var(--main_white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

/* TITLE */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main_white-color);
  margin-bottom: 30px;
}

.title-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.title-h3-14 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.title-h3-16 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.title-h3-18 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.03em;
  margin-bottom: 4px;
}

/* DOING */
.doing-item {
  position: relative;
}

.doing-item-shield {
  position: absolute;
  width: 100%;
  bottom: 0px;
  background: rgba(47, 48, 58, 0.8);
  padding: 27px 0px;
}

.doing-item-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main_white-color);
}

/* DESCRIPTION */
.description14 {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--description-color);
}

.description16 {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--description-color);

}

/* Button */
.hero-button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
  color: var(--main_white-color);
  background-color: var(--accent-color);
  border-width: 0ch;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--btn-hover-color);
}

.portfolio-button {
  font-family: var(--main-font);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--main-black-color);
  border-width: 0ch;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color var(--anim-fast), 
  background-color var(--anim-fast), 
  box-shadow var(--anim-fast); 
}

.portfolio-button:hover,
.portfolio-button:focus {
  background-color: var(--btn-hover-color);
  color: var(--main_white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-button-current {
  background-color: var(--accent-color);
  color: var(--main_white-color);
}

/* PORTFOLIO */
.portfolio-item-block {
  /* width: 370px;
  height: 110px; */
  padding: 20px 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 8px;
}

.portfolio-card:hover {

}

.portfolio-card {
  transition: color var(--anim-fast);
}

.portfolio-link {
display: block;
transition: box-shadow var(--anim-fast);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

}

.portfolio-link:hover .portfolio-card-overlay,
.portfolio-link:focus .portfolio-card-overlay {
  transform: translateY(0%);
}

.portfolio-item-image {
  position: relative;
  overflow: hidden;
}

.portfolio-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(101%);
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  transition: 500ms ease-in-out;
}

.portfolio-card-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--main_white-color);
}

/* ------------------------------------- */

.address {
  margin-top: 20px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.socials-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--icons-color);
  background-color: #ffffff;
  border-radius: 50%;
  transition: color var(--anim-fast), background-color var(--anim-fast);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
  color: var(--main_white-color);
}

.socials-icon {
  fill: currentColor;
}

.clients-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  color: var(--icons-color);
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  cursor: pointer;

  transition: color var(--anim-fast), border var(--anim-fast);
}

.clients-item:hover,
.clients-item:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.clients-icon {
  fill: currentColor;
}

.clients-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.adress-icon {
  fill: currentColor;
  margin-right: 10px;
}

.peculiarities-item {
  flex-basis: 270px;
}

.peculiarities-wrap {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-icon);
  border-radius: 4px;
  margin-bottom: 30px;
}

/* FOOTER */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--bg-dark-gray-color);
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

.fsm-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;

  margin-bottom: 20px;
}

.fa-block {
  margin-right: 70px;
}

.fsm-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;

  color: var(--main_white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color var(--anim-fast);
}

.fsm-link:hover,
.fsm-link:focus {
  background-color: var(--accent-color);
}

.fsm-icon {
  fill: currentColor;
}

/* МОДАЛЬНОЕ ОКНО */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--anim-fast), visibility var(--anim-fast);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  min-width: 528px;
  min-height: 581px;
  background-color: var(--main_white-color);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

}

.button-x {
  border-radius: 50px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--main_white-color);
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
}
